<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>wimp</title>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.5/css/bulma.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <section id="app">
    <section class="section">
      <div class="container">
        <h1 class="title">Connection
          <small v-cloak v-bind:class="{'has-text-danger': connection.error, 'has-text-grey': !connection.error}">{{ connection.state }}
            <span v-if="connection.error">({{ connection.error }})</span>
          </small>
        </h1>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h1 class="title">Subscriptions</h1>
        <div class="field is-grouped">
          <p class="control">
            <input class="input" v-model="subscribe.filter" placeholder="Topic">
          </p>
          <p class="control">
            <input class="input" v-model="subscribe.qos" placeholder="QoS">
          </p>
          <p class="control">
            <button class="button" v-on:click="mqtt.subscribe(subscribe.filter, subscribe.qos)" v-bind:disabled="!connected">Subscribe</button>
          </p>
        </div>
        <ul v-cloak>
          <li v-for="(info, filter) in subscriptions" class="field is-grouped">
            <div class="control">
              <div class="tags has-addons">
                <span class="tag">QoS</span>
                <span class="tag is-dark">{{ info.qos }}</span>
              </div>
            </div>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag">Topic</span>
                <span class="tag is-primary">{{ filter }}</span>
              </div>
            </div>
            <a class="tag is-delete is-danger" v-on:click="mqtt.unsubscribe(filter)" v-bind:disabled="!connected"></a>
          </li>
        </ul>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h1 class="title">Messages</h1>
        <div class="field is-grouped">
          <p class="control">
            <input class="input" v-model="publish.topic" placeholder="Topic">
          </p>
          <p class="control">
            <input class="input" v-model="publish.payload" placeholder="Payload">
          </p>
          <p class="control">
            <button class="button" v-on:click="mqtt.publish(publish.topic, publish.payload)" v-bind:disabled="!connected">Publish</button>
          </p>
        </div>
        <ul v-cloak>
          <li v-for="message in messages">
            <code>{{ message.topic }}</code>:
            <code>{{ message.payload }}</code>
          </li>
        </ul>
      </div>
    </section>
  </section>

  <!-- <script src="https://unpkg.com/paho-mqtt@1.0.3"></script> -->
  <script src="https://unpkg.com/vue@2.5.9"></script>
  <script src="https://unpkg.com/mqtt@2.18.8/dist/mqtt.min.js"></script>
  <script>

    // var client = mqtt.connect('ws://h2h-mqtt.herokuapp.com:80/mqtt', {
    //   username:'h2h',
    //   password:'password'
    // })
    // client.on('connect', () => {
    //   console.log("CONENCTED!")
    // })

    var app = new Vue({
      el: '#app',
      created() {
        const host = '192.168.1.2'
        // const host = location.hostname
        console.log(`ws://${host}:${location.port}/mqtt`)
        this.client = window.mqtt.connect(`ws://${host}:${location.port}/mqtt`)
        this.client.on('connect', (connack) => {
          console.log(connack)
          this.connection.state = 'connected';
        })
        this.client.on('message', (topic, message) => {
          console.log(message.toString(),topic)
          this.messages.unshift({
            received: new Date(),
            payload: message.toString(),
            topic: topic,
          })
          this.messages = this.messages.slice(0, 10)
        })
        this.client.on('error', ({errorCode, errorMessage}) => {
          this.connection.state = 'connection failed';
          this.connection.error = (errorCode === 0) ? '' : errorMessage;
        })
        this.mqtt = {
          publish: (topic, payload) => {
            this.client.publish(topic, payload);
          },
          subscribe: (filter, qos) => {
            qos = parseInt(qos);
            Vue.set(this.subscriptions, filter, {
              state: 'subscribing',
              qos,
            })
            this.client.subscribe(filter, {qos}, (e,g) => {
              this.subscriptions[filter].state = 'subscribed';
            });
          },
          unsubscribe: (filter) => {
            if (this.subscriptions[filter]) {
              this.subscriptions[filter].state = 'unsubscribing';
              this.client.unsubscribe(filter, () => {
                Vue.delete(this.subscriptions, filter);
              });
            }
          }
        }
      }, // end created
      data: {
        connection: {
          state: '..........',
          error: '',
        },
        subscribe: {
          filter: '',
          qos: 0,
        },
        publish: {
          topic: '',
          payload: '',
        },
        subscriptions: {},
        messages: [],
      }, // end data
      computed: {
        connected() { return this.connection.state == 'connected'; },
      }
    });
  </script>
</body>

</html>